# /lib/systemd/system/CORE2017-Vision.service

[Unit]
Description=cORE's 2017 vision processing system
Wants=network.target
Documentation=https://github.com/core2062/CORE2017-Vision

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi
#Nice=5
Environment=
ExecStart=/home/pi/CORE2017-Vision/launch.sh
# Use SIGINT to stop
KillSignal=SIGINT
Restart=on-failure
SyslogIdentifier=CORE2017-Vision

[Install]
WantedBy=multi-user.target
