# /lib/systemd/system/COREPitDisplay.service

[Unit]
Description=CORE 2062's 2017 Pit Display
#Wants=network.target
Documentation=https://github.com/core2062/CORE2017-Vision

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi
#Nice=5
Environment=
ExecStart=/home/pi/CORE2017-Vision/pitDisplay/pitDisplay.sh
# Use SIGINT to stop
KillSignal=SIGINT
#Restart=on-failure
SyslogIdentifier=COREPitDisplay

[Install]
WantedBy=multi-user.target
